div.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    /* border: 2px solid red; */
}

.return-home {
    font-family: Garamond, "Garamond Premier Pro", "Apple Garamond", Georgia, serif;
    font-weight: bold;
    font-size: 25px;
    color: #7900a7;
    cursor: help;
    text-decoration: none;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 10px;
}

body {
    
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0px;
    color: #062da1;
    font-weight: normal;
    font-size: 25px;
}

h2 {
    margin: 0px;
    margin-bottom: 10px;
    color: #3a5a0c;
    font-weight: normal;
    font-size: 15px;
}

h3{
    margin: 0px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;

}
.page-contents {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    align-self: left;
    margin-left: 5%;
    padding-top: 0px;
    width: 90%;
    max-width: 750px;

}

footer {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 35px;
    font-family: Garamond, "Garamond Premier Pro", "Apple Garamond", Georgia, serif;
    font-size: 15px;


}

.image-row {
    display: flex;
    gap: 10px;                
    align-items: flex-start;
    flex-wrap: wrap;
}

.image-row img {
    height: 200px;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    display: block;
    object-fit: contain;
}

.image-gallery {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    gap: 10px;                
    align-items: flex-start;
    flex-wrap: wrap;
}

.image-gallery img {
    height: 200px;
    max-height: 100%;
    width: auto;
    display: block;
    object-fit: contain;
}



.search-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    gap: 3px;
    padding-right: 10px;

}

#search {
    
    padding: 1px;
    font-size: 13px;
    max-width: 275px;
    min-width: 100px;
    width: 100%;
        


}

#search-btn {
    
  padding: 1px 5px;
  font-size: 13px;
  margin-left: 0px;
  cursor: pointer;
}

.link {
    font-family: 'Times New Roman', Times, serif;
    color: #7900a7;
    font-size: 14px;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    text-decoration-thickness: 7%;
    text-decoration-style: wavy;
}

#surprise {
font-family: 'Times New Roman', Times, serif;
    color: #7900a7;
    font-size: 16px;
    text-decoration: none;
    margin-top: 30px;
    font-style: italic;
    cursor: help;


}

#toggleDVD {
  cursor: pointer;

  accent-color: #7900a7;
}

#dvd{
    z-index: 999;
}