body {
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    
}

.popups-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.popup {
    max-width: 500px; 
    width: 90vw;
    
    background-color: #c0c0c0;
    border: 2px solid #808080;
    
}

.popup1 {
    max-width: 500px; 
    width: 90vw;
    
    background-color: #c0c0c0;
    border: 2px solid #808080;
    
}

.popup2 {
    max-width: 200px; 
    width: 40vw;
    
    background-color: #c0c0c0;
    border: 2px solid #808080;
    
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 6px;
    background-color: #7900a7;
    color: #ffffff;
    margin-bottom: 15px;
}

.close-button {
    background-color: #c0c0c0;
    border: 1px solid #808080;

    box-shadow: 1px 1px 0 #ffffff inset, -1px -1px 0 #808080 inset; 
    width: 20px;
    height: 18px;
    cursor: pointer;
    line-height: 1;
    font-size: 12px;
    cursor: not-allowed;
}

.popup-content {
    padding: 10px;
}

.text-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
}

.icon {
    margin-right: 15px;
    user-select: none;
    margin-top: -5px;
}

.text {
    flex-grow: 1;
    margin: 0;
    line-height: 1.5;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 5px;
}

.button {
    background-color: #c0c0c0;
    border: 1px solid #808080;
    width: 80px;
    height: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;

    box-shadow: 1px 1px 0 #ffffff inset, -1px -1px 0 #808080 inset;
}

.button:active {
    box-shadow: 1px 1px 0 #808080 inset, -1px -1px 0 #ffffff inset;
    transform: translate(1px, 1px);
}

.contact-buttons {
    
    display: flex;
    flex-direction: column;
    gap: 8px; 
    width: 100%;
    align-items: stretch;
    margin-bottom: 10px;
}

.contact-button {
    font-family: 'Times New Roman', Times, serif;
    color: #7900a7;
    display: flex;
    align-items: center;
    width: 88%; 
    padding: 0 8px; 
    height: 30px; 
    line-height: 1; 
    text-decoration: none;
}

.contact-button-icon {
    height: 18px; 
    width: 18px;
    object-fit: contain;
    margin-right: 6px; 
    vertical-align: middle; 
}

.link {
    font-family: 'Times New Roman', Times, serif;
    color: #7900a7;
    text-decoration: none;

}

.link:hover {
    text-decoration: underline;
    text-decoration-thickness: 7%;
    text-decoration-style: wavy;
}

